<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Done by #0411">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>

    <style>
        body {
            background: rgb(80, 77, 77);
        }

        .container {
            background: grey;
            width: 300px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            height: 150px;
            padding-top: 50px;
        }


    </style>

</head>
<body>

    <div class="container">
        <form action="/" method="post">
            <label for="fname">Nickname</label><br>
            <input type="text" id="login" name="login"><br>
            <input type="submit" value="Submit">
          </form> 
    </div>
</body>
</html>